.btnGreen{
    margin: 40px;
    padding: 20px 30px;
    background-color: green;
}
.btnBlue{
    margin: 40px;
    padding: 20px 30px;
    background-color: blue;
}
.btnRed{
    margin: 40px;
    padding: 20px 30px;
    background-color: red;
}
.btnOrange{
    margin: 40px;
    padding: 20px 30px;
    background-color: orange;
}

.current{
    border: 5px solid black;
}

.result{
    margin: 40px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.orange{
    color: orange;
}